/* Start Variables */
:root {
    --main-color:#023e0c ;/*         #495f81       #10cab7*/
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
  }
  /* End Variables */
  /* Start Global Rules */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

  }
  
  header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;

}
.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.navlist {
    display: flex;
}
.navlist a { 
    color: white;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease ;
}
.navlist a:hover {
    border-bottom: 2px solid white;
}
#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;

}
.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%) ;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}

.hero-text h5 {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}
.hero-text h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px
}
.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.hero-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.hero-img img {
    width: 300px;
    height: auto;
}
.hero-text a{
    display: inline-block;
    color: white;
    background: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px ;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55 ease;
}
.hero-text a:hover {
    background: transparent;
    border: 1px solid white;
    transform: translateX(5px);
}
.hero-text a .ctaa{

    background: transparent;
    border: 1px solid white;
    margin-left: 20px;

}
.hero-text a .ctaa i{
     vertical-align: middle;
    margin-right: 5px;
}
.icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);

}
.icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}
.icons i:hover {
    color: #4d9559;
    transform:translateY(-5px) ;
}
.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #4d9559;
    border-radius: 30px;
    transition: all .50s ease;

}
.scroll-down i:hover {
    transform: translateY(-5px);

}
@media (max-width:1460px) {
    selection {
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width:1340px) {
    .hero-img img {
        width: 300px;
        height: auto;
    }
    .hero-text h1 {
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
    .logo {
        padding-right: 105px;
    }
    
}
@media (max-width:1195px) {
    section {
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text {
        padding-top: 115px;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img {
        width: 300px;
        height: auto;
    }
    .hero {
        height: 100%;
        gap: 1rem;
        /*grid-template-columns: 1fr;*/
    }
    .icons{
        display: none;

    }
    
}

.header .links {
    display: none;
}
@media (max-width: 700px) {
    .header .links .icon{
        display: block;
    }
    #menu-icon {
        display: block;
    }
    .navlist {
        display: none;
    }
    .header {
        padding: 20px;
      }
      .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .header .links {
        position: relative;
        display: block;
      }
      .header .links:hover .icon span:nth-child(2) {
        width: 100%;
      }
      .header .links .icon {
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
      }
      .header .links .icon span {
        background-color: white;
        margin-bottom: 5px;
        height: 4px;
      }
      .header .links .icon span:first-child {
        width: 100%;
      }
      .header .links .icon span:nth-child(2) {
        width: 60%;
        transition: var(--main-duration);
      }
      .header .links .icon span:last-child {
        width: 100%;
      }/* start eidt*/
       .header .links ul li {
        position: relative;
       }
       .header .links ul li::after {
        content: "";
        width: 0;
        height: 3px;
        background: var(--main-color);
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: 0.5s;
       }
       .header .links ul li:hover::after {
        width: 100%;
       }
      /* End eidt*/
      .header .links ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #66a170;
        position: absolute;
        right: 0;
        min-width: px;
        top: calc(100% + 15px);
        display: none;
        z-index: 1;
      }
      .header .links ul::before {
        content: "";
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #f6f6f6 transparent;
        position: absolute;
        right: 5px;
        top: -20px;
      }
      .header .links:hover ul {
        display: block;
      }
      .header .links ul li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: 600;
        transition: var(--main-duration);
      }
      .header .links ul li a:hover {
        padding-left: 25px;
      }
      .header .links ul li:not(:last-child) a {
        border-bottom: 1px solid #ddd;
      }
      /* End Header */
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 105px;
        height: 27vh;
        background: #66a170;
        display: none;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a {
        margin-left: 0;
        display: block;
        margin: 3px 0;
        

    }
    .navlist .open{
        right: 0;
    }
    .hero{
        grid-template-columns: 1fr;
    }
    .scroll-down{
        display: none;
    }
}
@media (max-width: 680px) {
    .hero-img img {
        width: 70%;
        height: auto;
    }
}